***Import the necessary library***

In [8]:
import pandas as pd
from google.colab import drive

# Mount Google Drive
drive.mount('/content/drive')

df = pd.read_csv('/content/sample_data/Absenteeism_at_work.csv', sep=';')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### **Read data**

**Knowning original columns**

In [16]:
df = pd.read_csv('/content/sample_data/Absenteeism_at_work.csv', sep=';')
# Print the current column names
print("Original column names:")
print(df.columns)

Original column names:
Index(['ID', 'Reason for absence', 'Month of absence', 'Day of the week',
       'Seasons', 'Transportation expense', 'Distance from Residence to Work',
       'Service time', 'Age', 'Work load Average/day ', 'Hit target',
       'Disciplinary failure', 'Education', 'Son', 'Social drinker',
       'Social smoker', 'Pet', 'Weight', 'Height', 'Body mass index',
       'Absenteeism time in hours'],
      dtype='object')

**# Define a dictionary with the current column names as keys and new column names as values**

In [12]:
column_names = {
    'D': 'D_new',
    'Reason for absence': 'Reason_for_absence_new',
    'Month of absence': 'Month_of_absence_new',
    'Day of the week': 'Day_of_the_week_new',
    'Seasons': 'Seasons_new',
    'Transportation expense': 'Transportation_expense_new',
    'Distance from Residence to Work': 'Distance_from_Residence_to_Work_new',
    'Service time': 'Service_time_new',
    'Age': 'Age_new',
    'Work load Average/day': 'Work_load_Average_per_day_new',
    'Disciplinary failure': 'Disciplinary_failure_new',
    'Education': 'Education_new',
    'Son': 'Son_new',
    'Social drinker': 'Social_drinker_new',
    'Social smoker': 'Social_smoker_new',
    'Pet': 'Pet_new',
    'Weight': 'Weight_new',
    'Height': 'Height_new',
    'Body mass index': 'Body_mass_index_new',
    'Absenteeism time in hours': 'Absenteeism_time_in_hours_new'
}

#  **Rename the columns using the dictionary**

In [13]:
df.rename(columns=column_names, inplace=True)

In [15]:
# Print the new column names
print("\nNew column names:")
df.head()

New column names:

,ID,Reason_for_absence_new,Month_of_absence_new,Day_of_the_week_new,Seasons_new,Transportation_expense_new,Distance_from_Residence_to_Work_new,Service_time_new,Age_new,Work load Average/day,...,Disciplinary_failure_new,Education_new,Son_new,Social_drinker_new,Social_smoker_new,Pet_new,Weight_new,Height_new,Body_mass_index_new,Absenteeism_time_in_hours_new
0,11,26,7,3,1,289,36,13,33,239.554,...,0,1,2,1,0,1,90,172,30,4
1,36,0,7,3,1,118,13,18,50,239.554,...,1,1,1,1,0,0,98,178,31,0
2,3,23,7,4,1,179,51,18,38,239.554,...,0,1,0,1,0,0,89,170,31,2
3,7,7,7,5,1,279,5,14,39,239.554,...,0,1,2,1,1,0,68,168,24,4
4,11,23,7,5,1,289,36,13,33,239.554,...,0,1,2,1,0,1,90,172,30,2

# **Using labels**

**Get the list of column names from the DataFrame**

In [17]:
labels = list(df.columns)

**Iterate over the list of column names**

In [18]:
for i in range(len(labels)):
    # Replace spaces with underscores and convert to lower case
    labels[i] = labels[i].replace(' ', '_').lower()

**Assign the modified column names back to the DataFrame**

In [19]:
df.columns = labels

**Display the first few rows of the DataFrame to confirm the changes**

In [20]:
df.head()

,id,reason_for_absence,month_of_absence,day_of_the_week,seasons,transportation_expense,distance_from_residence_to_work,service_time,age,work_load_average/day_,...,disciplinary_failure,education,son,social_drinker,social_smoker,pet,weight,height,body_mass_index,absenteeism_time_in_hours
0,11,26,7,3,1,289,36,13,33,239.554,...,0,1,2,1,0,1,90,172,30,4
1,36,0,7,3,1,118,13,18,50,239.554,...,1,1,1,1,0,0,98,178,31,0
2,3,23,7,4,1,179,51,18,38,239.554,...,0,1,0,1,0,0,89,170,31,2
3,7,7,7,5,1,279,5,14,39,239.554,...,0,1,2,1,1,0,68,168,24,4
4,11,23,7,5,1,289,36,13,33,239.554,...,0,1,2,1,0,1,90,172,30,2